---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
#- - roles: [academic, postdoc, staff]
- - roles: [academic]
    width: 4
    image: true
#- - roles: [postdoc]
#    width: 4
#    image: true
- - roles: [researchstudent]
    width: 4
    image: true
  - roles: [collab]
    width: 4
    image: true
#- - roles: [alumni, past]
- - roles: [alumni]
    width: 4
    image: false

---

<div class="jumbotron">
    <p>
        The <b>Applied Software Engineering Research Group</b> is part of the <a href="https://www.shu.ac.uk/about-us/academic-departments/computing">Department of Computing</a> and the Industry and Innovation Research Institute at <a href="https://shu.ac.uk">Sheffield Hallam University</a>. 
    </p>

    <p>
        Under the leadership of Dr. Carlos da Silva, the group started in 2014 as the <b>SmarT Environment LAboratory</b> of the <a href="https://imd.ufrn.br/portal/">Metropole Digital Institute</a> at the Federal University of Rio Grande do Norte, Brazil.
    </p>
    <p>
        With a strong emphasis in applied research, ASERG aims to conduct research and development activities on software engineering with an interdisciplinary view of its application. The group favours close relationships with companies aimed at (1) Extract and inform research questions from real world experience; and (2) Influence the real world based on the research conducted by its members.    
    </p>
    <p> 
        You can find more about the group in these pages.
    </p>
</div>
<section>
    <p>
        In today’s cyber-connected world Information and Communication Technology constitutes the basic backbone of the majority of businesses operations, with an ever increasing reliance on software for different facets of society evidencing the need for robust software construction practices. 
    </p>
    <p>
        ASERG addresses this need through two main branches of action: Consultancy service and applied R&D in partnership with industry; and research on the advancement of ICT and computing. To achieve that ASERG congregates Computing academics and practitioners from different disciplines, providing a range of expertise like:
    </p>
    <ul>
        <li>Software Development Processes and Methodology</li>
        <li>Business Process Management, Service Orientation, Microservices and DevOps</li>
        <li>Cloud computing and Internet of Things</li>
        <li>Software Engineering for Self-adaptive Systems and Digital Twins</li>
        <li>Cyber Security, Privacy, Digital Identity Management and Access Control</li>
        <li>Applied Artificial Intelligence and Machine Learning</li>
</ul>
</section>
<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.categories["news"] limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.categories["news"] | size %}
    {% if numposts > 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/news.html">Older news&hellip;</a>
        </p>
    {% endif %}
</section>
<!-- comment 
<section>
    <h2>Posts</h2>
    <ul class="news list-unstyled">
        {% for post in site.categories["blog"] limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>
-->

<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<section>
    <h2>Research</h2>
    <div class="card-columns">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                {% include project-card.html project=p %}
            {% endif %}
        {% endfor %}
    </div>
</section>
